*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: rgb(52, 51, 51);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
}

.navbar > h1{
    padding: 15px 40px;
    font-size: 3rem;
}

h2{
    padding-left: 40px;
    font-weight: 100;
    font-size: 1.3rem;
}

.navbar-items{
    padding: 15px;
    padding-right: 40px;
    display: flex;
}

@media(max-width: 576px){
    .navbar-items{
        flex-direction: column;
    }

    h2{
        padding: 5px;
        font-size: 1.2rem;
    }

    .hero{
        margin: 70px 30px !important;
    }
}

.hero{
    margin: 80px 120px;
    padding: 10px;
    height: auto;
    width: auto;
    text-align: center;
}

.hero > img{
    border-radius: 10px;
    margin-bottom: 20px;
}

.hero > h1{
    padding: 15px
}

button{
    margin-top: 50px;
    border-radius: 5px;
    padding: 9px 25px;
    background-color: rgb(52, 51, 51);
}

a{
    color: aliceblue;
}
